.bg-pp{background-color:#afce4d;}
.img1{ width: 40px;height: 40px;  }
.a{color: #922b0f;}
.m{margin: 0px;}
.d-block{ height: 300px;}
.p{padding-top: 20px;}
.m{margin-right: 30px;}
.img2 img{width: 100px;height: 99px;}
.img3{width: 100px;height: 40px; }
.p1{padding-bottom: 20px;}
.bg-2{background-color: rgb(218, 255, 218);}
.p2 .m2{padding: 0; margin: 0;}
.img4{width: 150px;height: 220px;}